li.slider__item
    .ingredients
        .ingredients__icon
            .ingredients__picture
                img.ingredients__image(src="img/icons/burger.svg" alt="Состав")
            .ingredients__desc Состав
        .dropdown
            table.dropdown__table
                tr.dropdown__row
                    td.dropdown__cell
                        .dropdown__icon
                            img.dropdown__icon-image(src="img/icons/beef.svg" alt="Мясо")
                    td.dropdown__cell
                        .dropdown__title Говядина
                    td.dropdown__cell
                        .dropdown__weight 300 г.
                tr.dropdown__row
                    td.dropdown__cell
                        .dropdown__icon
                            img.dropdown__icon-image(src="img/icons/buns.svg" alt="Булочки")
                    td.dropdown__cell
                        .dropdown__title Булочки
                    td.dropdown__cell
                        .dropdown__weight 100 г.
                tr.dropdown__row
                    td.dropdown__cell
                        .dropdown__icon
                            img.dropdown__icon-image(src="img/icons/salad.svg" alt="Зелень")
                    td.dropdown__cell
                        .dropdown__title Зелень
                    td.dropdown__cell
                        .dropdown__weight 70 г.
                tr.dropdown__row
                    td.dropdown__cell
                        .dropdown__icon
                            img.dropdown__icon-image(src="img/icons/sauce.svg" alt="Соус")
                    td.dropdown__cell
                        .dropdown__title Соус
                    td.dropdown__cell
                        .dropdown__weight 150 г.
                tr.dropdown__row
                    td.dropdown__cell
                        .dropdown__icon
                            img.dropdown__icon-image(src="img/icons/cucumber.svg" alt="Овощи")
                    td.dropdown__cell
                        .dropdown__title Овощи
                    td.dropdown__cell
                        .dropdown__weight 200 г.
                tr.dropdown__row
                    td.dropdown__cell
                        .dropdown__icon
                            img.dropdown__icon-image(src="img/icons/cheese.svg" alt="Сыр")
                    td.dropdown__cell
                        .dropdown__title Сыр
                    td.dropdown__cell
                        .dropdown__weight 80 г.
    .weight
        .weight__sum
            .weight__number 1500
            .weight__title ккал
    .slider__left
        img.slider__image(src="img/content/black-burger.png" alt="Чёрный бургер")
    .slider__right
        h4.section__title.section__title_burger Dark Beef Burger
        .text-block.text-block_burger
            p Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
        .slider__order
            .slider__price
                .slider__sum 500
                .slider__step рублей
            a.slider__link.button(href="6") Заказать