header.header
    .container
        .header__logo
            h1.header__logo-title Mr. Burger
            img.header__logo-image(src="img/content/mr.burger-logo.svg" alt="Лого")
        .header__menu
            include ../components/_navbar