.burgers {
  font-size: 0;
  background: #f9b43b;
  background: linear-gradient(90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);

  .container {
    @extend %vertical-middle;
  }

  &__item {
    @extend %clearfix;
    padding-bottom: 90px;
    position: relative;
  }
}

.slider {
  position: relative;

  &__btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    &_left {
      left: -40px;
    }

    &-image-left {
      transform: rotate(90deg);
    }

    &_right {
      right: -40px;
    }

    &-image-right {
      transform: rotate(-90deg);
    }
  }


  &__left, &__right {
    float: left;
    width: 48.93617021276596%;
  }

  &__left {
    padding-top: 95px;
  }

  &__image {
    display: inline-block;
    max-width: 100%;
  }

  &__right {
    margin-left: 20px;
  }

  &__link {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 32px;
  }

  &__price {
    display: inline-block;
    vertical-align: middle;
    color: $red;
    font-family: Gagalin;
  }

  &__sum {
    font-size: 72px;
  }

  &__step {
    font-size: 30px;
  }

  &__sum, &__step {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
  }
}

.section__title_burger {
  color: #fff;
  line-height: 64px;
  margin-bottom: 35px;
}

.text-block_burger {
  color: white;
  margin-bottom: 15px;
}

.ingredients {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  background: rgba(227, 80, 40, 0.4);
  width: 90px;
  height: 90px;
  border-radius: 5px;
  transition: .3s;
  z-index: 5;

  &:hover {
    background: $red;

    .dropdown {
      display: block;
      opacity: 1;
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__desc {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    font-family: Gagalin;
  }
}

.dropdown {
  position: absolute;
  left: 90px;
  display: none;
  padding: 20px;
  background: rgba(#fff, .9);
  width: 270px;
  border-radius: 7px;
  opacity: 0;
  transition: opacity .3s;
  z-index: 5;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    left: -29px;
  }

  &__table {
    width: 100%;
  }

  &__cell {
    vertical-align: middle;
    padding: 8px 0;
  }

  &__icon-image {
    max-height: 34px;
  }

  &__title, &__weight {
    font-size: 14px;
    line-height: 24px;
  }

  &__title {
    font-weight: 500;
  }
}

.weight {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .5;

  &__sum {
    background: url("../img/icons/kkal.svg") 50% no-repeat;
    width: 65px;
    height: 60px;
    position: relative;
  }

  &__number {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: Gagalin;
  }

  &__title {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-family: Gagalin;
  }
}