.intro {
  background: url('../../img/bg/intro.jpg') center center / cover no-repeat;
  position: relative;
  font-size: 0;

    .container {
      position: static;
    }

    &__main {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50);
      left: 0;
      right: 0;

    &__left, &__right {
      float: left;
      width: 50%;
    }

    &__left {

      &__image {
        display: inline-block;
        max-width: 100%;
        margin-left: 10px;
      }
    }

    &__right {
      padding-top: 120px;
    }

    &__topic__text {
      font-size: 65px;
      color: #fff;
      font-family: Lifehack;
      font-weight: 500;
      text-transform: lowercase;
      line-height: 1em;
    }
  }
}

.down-scroll {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -15px;
  transition: .3s;

  &:hover {

    .down-scroll__image {
      margin-top: -15px;
      width: 35px;
      height: 35px;
    }
  }

  &__image {
    width: 30px;
    height: 30px;
    transition: all .3s;
  }
}