section.section.best
    .container
        .section__title.section__title_best Мы лучшие
        ul.best__list
            li.best__item
                .best__item-picture
                    img.best__item-image(src="img/content/meat.svg" alt="100% свежее мясо")
                .best__item-topic 100% свежее мясо
                .best__item-desc.text-block
                    <p>Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.</p>
            li.best__item
                .best__item-picture
                    img.best__item-image(src="img/content/hand.svg" alt="Ручная сборка")
                .best__item-topic Ручная сборка
                .best__item-desc.text-block
                    <p>Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.</p>
            li.best__item
                .best__item-picture
                    img.best__item-image(src="img/content/natural.svg" alt="Натуральные ингредиенты")
                .best__item-topic Натуральные ингредиенты
                .best__item-desc.text-block
                    <p>Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.</p>