section.section.burgers
    .container
        .slider
            .slider__controls
                a.slider__btn.slider__btn_right(href="#")
                    img.slider__btn-image-right(src="img/icons/down-scroll.svg")
                a.slider__btn.slider__btn_left(href="#")
                    img.slider__btn-image-left(src="img/icons/down-scroll.svg")
            ul.slider__list.owl-carousel
                include ../parts/_dark-beef
                include ../parts/_burger-sandwich
                include ../parts/_cheeseburger
                include ../parts/_chicken-burger
                include ../parts/_spicy-shrimp-burger