section.section.intro
    .container
        include ../parts/_header
        .intro__main
            .container
                .intro__left
                    img.intro__image(src="img/content/intro-burger.png" alt="Бургер")
                .intro__right
                    .intro__topic
                        h2.intro__topic-title.section__title Мы делаем
                        h2.intro__topic-desc натуральные бургеры
    a.down-scroll(href="#")
        img.down-scroll__image(src="img/icons/down-scroll.svg" alt="Вниз")