section.section.map
    .yandex-map#map
    footer.footer
        .container
            .footer__left
                h3.footer__address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
                a.footer__phone(href="tel:+78123771377") +7 (812) 377-13-77
            .footer__right
                ul.socials
                    li.socials__item
                        a.socials__link(href="#")
                            img(src="img/icons/vk.svg" alt="Вконтакте")
                    li.socials__item
                         a.socials__link(href="#")
                             img(src="img/icons/fb.svg" alt="Facebook")
                    li.socials__item
                        a.socials__link(href="#")
                            img(src="img/icons/inst.svg" alt="Instagram")
                    li.socials__item
                        a.socials__link(href="#")
                            img(src="img/icons/twitter.svg" alt="Twitter")