section.section.reviews
    ul.reviews__list
        li.reviews__item
            .review
                .review__photo.review__photo-1
                    .review__hover
                        .review__title Константин Спилберг
                        .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                        .review__button-wrap
                            a.review__view(href="#full-review") Подробнее
        li.reviews__item
            .review
                .review__photo.review__photo-2
                    .review__hover
                        .review__title Константин Спилберг
                        .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                        .review__button-wrap
                            a.review__view(href="#full-review") Подробнее
        li.reviews__item
            .review
                .review__photo.review__photo-3
                    .review__hover
                        .review__title Константин Спилберг
                        .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                        .review__button-wrap
                            a.review__view(href="#full-review") Подробнее
        li.reviews__item
            .review
                .review__photo.review__photo-4
                    .review__hover
                        .review__title Константин Спилберг
                        .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                        .review__button-wrap
                            a.review__view(href="#full-review") Подробнее
        li.reviews__item
            .review
                .review__photo.review__photo-5
                    .review__hover
                        .review__title Константин Спилберг
                        .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                        .review__button-wrap
                            a.review__view(href="#full-review") Подробнее
        li.reviews__item
            .review
                .review__photo.review__photo-6
                    .review__hover
                        .review__title Константин Спилберг
                        .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                        .review__button-wrap
                            a.review__view(href="#full-review") Подробнее
        li.reviews__item
            .review
                .review__photo.review__photo-7
                    .review__hover
                        .review__title Константин Спилберг
                        .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                        .review__button-wrap
                            a.review__view(href="#full-review") Подробнее
        li.reviews__item
            .review
                .review__photo.review__photo-8
                    .review__hover
                        .review__title Константин Спилберг
                        .review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                        .review__button-wrap
                            a.review__view(href="#full-review") Подробнее