.button {
  display: inline-block;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: Ubuntu;
  font-weight: 500;
  color: #fff;
  background: $orange;
  padding: 3px 16px;
  border-radius: 5px;

  &:hover {
    background: darken($orange, 10%);
  }
}