doctype html
html(lang="RU")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        title Mr. Burger

        link(rel='stylesheet' href='css/vendor.css')
        link(rel='stylesheet' href='css/main.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        .wrapper
            .maincontent
                include ../sections/_intro
                include ../sections/_best
                include ../sections/_burgers
                include ../sections/_team
                include ../sections/_menu
                include ../sections/_reviews
                include ../sections/_order
                include ../sections/_map
        include ../components/_fixed-menu
        include ../components/_full-review
        include ../components/_popup-success
        include ../components/_popup-error
        script(src='js/vendor.js')
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
        script(src='js/main.js')