ul.fixed-menu
    li.fixed-menu__item
        a.fixed-menu__link(href="0")
    li.fixed-menu__item
        a.fixed-menu__link(href="1")
    li.fixed-menu__item
        a.fixed-menu__link(href="2")
    li.fixed-menu__item
        a.fixed-menu__link(href="3")
    li.fixed-menu__item
        a.fixed-menu__link(href="4")
    li.fixed-menu__item
        a.fixed-menu__link(href="5")
    li.fixed-menu__item
        a.fixed-menu__link(href="6")
    li.fixed-menu__item
        a.fixed-menu__link(href="7")