.full-review.popup#full-review
    a.full-review__close(href="#")
        img(src="img/icons/close.svg")
    .full-reviw__inner
        .full-review__title Константин Спилберг
        .full-review__content Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.