.nav
    ul.nav__list
        li.nav__item
            a.nav__link(href="1" title="О нас") О нас
        li.nav__item
            a.nav__link(href="2" title="Бургеры") Бургеры
        li.nav__item
            a.nav__link(href="3" title="Команда") Команда
        li.nav__item
            a.nav__link(href="4" title="Меню") Меню
        li.nav__item
            a.nav__link(href="5" title="Отзывы") Отзывы
        li.nav__item
            a.nav__link(href="7" title="Контакты") Контакты
a.order-link.button(href="6" title="Заказать") Заказать